<div class="category-card">
  <img
    src="assets/img/category/Dus Pizza.png"
    alt="icon dus pizza"
    class="dus-pizza"
  />
  <a href="#" class="card-title">Dus Pizza</a>
</div>
<div class="category-card">
  <img
    src="assets/img/category/Dus Packing.png"
    alt="icon dus pizza"
    class="dus-pizza"
  />
  <a href="#" class="card-title">Dus Packing</a>
</div>
<div class="category-card">
  <img
    src="assets/img/category/Dus Sepatu.png"
    alt="icon dus pizza"
    class="dus-pizza"
  />
  <a href="#" class="card-title">Dus Sepatu</a>
</div>
<div class="category-card">
  <img
    src="assets/img/category/Dus Jinjing.png"
    alt="icon dus pizza"
    class="dus-pizza"
  />
  <a href="#" class="card-title">Dus Jinjing</a>
</div>
<div class="category-card">
  <img
    src="assets/img/category/Dus Kue.png"
    alt="icon dus pizza"
    class="dus-pizza"
  />
  <a href="#" class="card-title">Dus Kue</a>
</div>
<div class="category-card">
  <img
    src="assets/img/category/Lainnya.png"
    alt="icon dus pizza"
    class="dus-pizza"
  />
  <a href="#" class="card-title">Perlengkapan Lainnya</a>
</div>
