<!-- footter section -->
<div class="footer" id="footer">
  <div class="footer-container">
    <div class="footer-content">
      <p>Sedang Butuh Packaging seperti apa?</p>
      <a href="#">Konsultasikan Sekarang</a>
    </div>

    <div class="footer-links">
      <!-- Grup 1: Link Utama -->
      <div class="footer-group">
        <div class="footer-column">
          <ul>
            <li>
              <a href="javascript:void(0);" onclick="loadContent('service')"
                >Services</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" onclick="loadContent('catalog')"
                >Catalog</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" onclick="loadContent('projects')"
                >Projects</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" onclick="loadContent('resources')"
                >Resources</a
              >
            </li>
            <li>
              <a href="/resources/material" data-link>Materials</a>
            </li>
            <li>
              <a href="/resources/guideline" data-link>Guidelines</a>
            </li>
            <li>
              <a href="/resources/faq" data-link>FAQ</a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                onclick="navigateToHomeAndScroll('stores')"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-column footer-privacy">
          <ul>
            <li>
              <a href="/resources/privacy" data-link>Privacy Policy</a>
            </li>
            <li>
              <a href="/resources/term" data-link>Terms & Conditions</a>
            </li>
            <li>
              <a href="mailto:marketing@tokodus.com">marketing@tokodus.com</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Grup 2: Link Career & Signup -->
      <div class="footer-group">
        <div class="footer-column">
          <ul>
            <li><a href="#">Career</a></li>
            <li>
              <a
                href="javascript:void(0)"
                onclick="navigateToHomeAndScroll('stores')"
                >Cabang Toko</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/tokodusbdg/"
                class="instagram"
                target="_blank"
                id="instagram"
                >Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.facebook.com/tokodusbdg/"
                class="facebook"
                target="_blank"
                id="facebook"
                >Facebook</a
              >
            </li>
            <li>
              <a
                href="https://www.tiktok.com/@tokdus/"
                class="tiktok"
                target="_blank"
                id="tiktok"
                >Tiktok</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/@TokodusOfficial"
                class="youtube"
                target="_blank"
                id="youtube"
                >Youtube</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-column footer-signup">
          <form action="#" method="POST" class="signup-form">
            <input type="email" placeholder="Masukkan email Anda" required />
            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p id="copyright" class="copyright">
        Copyright &copy; <span id="year"></span> Tokodus. All Rights Reserved
      </p>
      <!-- Footer Brand dan Logo -->
      <div class="footer-brand">
        <a href="/" data-link class="footer-logo" id="footer-logo">
          <img
            src="/assets/img/logo-icon.png"
            alt="Tokodus Logo"
            class="footer-logo"
          />
          <span class="footer-name">Tokodus</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!---Footer Ends--->
