<!--Navbar start-->
<nav class="navbar">
  <a href="/" class="navbar-logo" id="nav-logo">
    <img
      src="/frontend/assets/img/logo-icon.png"
      alt="Logo"
      width="40"
      class="Logo"
    /><span>Tokodus</span>
  </a>
  
  <div class="navbar-nav">
    <ul class="navbar-nav-menu">
      <li>
        <a href="/#service">Services</a>
      </li>
      <li>
        <a href="/catalog">Catalog</a>
      </li>
      <li>
        <a href="/#projects">Projects</a>
      </li>
      <li>
        <a href="/#resources">Resources</a>
      </li>
      <li>
        <a href="/#stores">Contact Us</a>
      </li>
    </ul>
  </div>
  
  <div class="navbar-extra">
    <ul class="navbar-extra-menu">
      <li><a href="/login" id="nav-get-in-touch">Login</a></li>
      <a href="#" id="search"><i data-feather="search"></i></a>
      <a href="#" id="shopping-cart"><i data-feather="shopping-cart"></i></a>
      <li>
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </li>
    </ul>
  </div>
</nav>
<!--Navbar end-->