<!--- Our Partner Logo --->
<section class="our-partner-logo">
  <div class="logo-slider-container">
    <div class="logo-slide">
      <img src="assets/img/our-partner/brodo-logo.png" alt="logo1" />
      <img src="assets/img/our-partner/prodigo-logo.png" alt="logo2" />
      <img src="assets/img/our-partner/portegood-logo.png" alt="logo3" />
      <img src="assets/img/our-partner/Luxxe-Studio-logo.png" alt="logo4" />
      <img src="assets/img/our-partner/D'lilac-logo.png" alt="logo5" />
      <img src="assets/img/our-partner/heykama-logo.png" alt="logo6" />
      <img src="assets/img/our-partner/Babyloop-logo.png" alt="logo7" />
      <img src="assets/img/our-partner/Bienbali-logo.png" alt="logo8" />
      <img src="assets/img/our-partner/Enha-logo.png" alt="logo9" />
      <img src="assets/img/our-partner/ilookshoes-logo.png" alt="logo10" />
      <img src="assets/img/our-partner/peony-logo.png" alt="logo11" />
    </div>
  </div>
</section>
